<% provide(:title, "Availability") %>
<h1>Available Spots</h1>

<%= form_for(:session, url: parking_mark_path, :html => {onsubmit: "return fillInLocation();"}) do |f| %>
    <%= f.hidden_field :longitude, class: 'form-control' %>
    <%= f.hidden_field :latitude, class: 'form-control' %>
    <%= f.submit "My Spots Available!", class: "btn btn-success" %>
<% end %>

<div id="map-container">
  <div id="map-canvas">

  </div>
</div>

<%= javascript_include_tag 'gmap', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBbyK0qe0mb8tJdHXO0-ptdX8fHl3gsbms&callback=initMap" %>