<% provide(:title, "Availability") %>
<h1>Available Spots</h1>

<% if !@availabilities.present? %>
    <%= form_for(:parking, url: parking_mark_path) do |f| %>
        <%= f.hidden_field :longitude, class: 'form-control' %>
        <%= f.hidden_field :latitude, class: 'form-control' %>
        <%= f.submit "My Spot's Available!", class: "btn btn-success" %>
    <% end %>
<% else %>
    <%= form_for(:parking, url: parking_remove_path) do |f| %>
        <%= f.hidden_field :availability_id, class: 'form-control', value: @availabilities[0].id %>
        <h4>
          Your Spot is Currently Available to others.
          <%= f.submit "Remove Availability!", class: "btn btn-danger", style: "margin-left: 10px;" %>
        </h4>
    <% end %>
    <% if @availabilities[0].requests.present? %>
        <h4>Bids for Your Spot:</h4>
        <%= form_for(:parking, url: parking_accept_path) do |f| %>
            <% @availabilities[0].requests.each do |request| %>
                <p>
                  <%= request.user.name %> bids $<%= request.bid %>
                  <%= f.hidden_field :requestId, class: 'form-control', value: request.id %>
                  <%= f.submit "Accept", class: "btn btn-success" %>
                </p>
            <% end %>
        <% end %>
    <% else %>
        <p>No bids yet...</p>
    <% end %>
<% end %>

<div>
  <h4>Your Open Bids:</h4>

  <% @user.requests.each do |request| %>
      <%= form_for(:parking, url: parking_removeBid_path) do |f| %>
          <span class="btn-group">
            <p><%= request.user.name %>'s Car for $<%= request.bid %> is
              <% if request.isAccepted %>
                  Accepted!
                  <a href="/review/view/<%= request.id %>" class="btn btn-default">Write a Review</a>
              <% else %>
                  Pending...
              <% end %>

              <% if !request.isAccepted %>
                <%= f.submit "Cancel", class: "btn btn-danger", style: "margin-left: 10px;" %>
              <% end %>
            </p>
            <%= f.hidden_field :requestId, value: request.id %>
          </span>
      <% end %>
  <% end %>
</div>

<div id=" map-container" style="margin-top: 10px;">
  <div id="map-canvas">

  </div>
</div>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBbyK0qe0mb8tJdHXO0-ptdX8fHl3gsbms&callback=initMap" %>
<%= javascript_include_tag 'gmap', 'data-turbolinks-track': 'reload' %>

<% if @availabilities.present? %>
    <script>
      var longitude = <%= @availabilities[0].longitude %>;
      var latitude = <%= @availabilities[0].latitude %>;
      var image = "<%= image_path "your-car.png" %>";
      drawMarker(longitude, latitude, "My Spot", image, "Your Spot");
    </script>
<% end %>

<% @others.each do |spot| %>
    <script>
      var user = "<%= spot.user.name %>";
      var userId = <%= current_user.id %>;
      var defaultBid = <%= current_user.defaultBid %>;
      var availabilityId = <%= spot.id %>;
      var longitude = <%= spot.longitude %>;
      var latitude = <%= spot.latitude %>;
      var image = "<%= image_path "black-simple-car-icon.png" %>";
      drawMarker(longitude, latitude, user, image,
          "<h5>" + user + "'s Car</h5>" +
          '<%= form_for(:parking, url: parking_bid_path) do |f| %>' +
          "<input type='hidden' name='userId' value='" + userId + "' />" +
          "<input type='hidden' name='availabilityId' value='" + availabilityId + "' />" +
          "<input type='text' class='form-control' value='" + defaultBid + "' name='bid' />" +
          "<input type='submit' class='btn btn-default' value='Bid' style='margin-top: 10px;' />" +
          '<% end %>');
    </script>
<% end %>