<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | UNO Parking Online Tool</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">UNO Parking Online Tool</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <% if current_user.present? %>
          <ul class="nav navbar-nav">
            <li><a href="/parking/view">Parking Spots</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Account Settings', current_user %></li>
          </ul>
          <div class="navbar-form navbar-right">
            <a href="/logout" data-method="delete" class="btn btn-danger">Logout</a>
          </div>
      <% else %>
          <%= form_for(:session, url: login_path, :html => {:class => "navbar-form navbar-right"}) do |f| %>
              <%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
              <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
              <%= f.submit "Sign in", class: "btn btn-success" %>
              <a href="/users/new" class="btn btn-default">Register</a>
          <% end %>
      <% end %>
      <ul class="nav navbar-nav">
        <li><a href="/static_pages/contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <div class="starter-template">
    <%= yield %>
  </div>
</div><!-- /.container -->

</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', 'data-turbolinks-track': 'reload' %>
</html>